<footer id='contact'>
    <p>
        Copyright 2020 FortisureIT | All Rights Reserved
        <br> Where we're located |
        <a href="https://www.google.com/maps/place/3435+Fortuna+Dr,+Akron,+OH+44312/@40.9777914,-81.4894941,17z/data=!3m1!4b1!4m5!3m4!1s0x88312ac5e82cba49:0x3223d1b7803792d4!8m2!3d40.9777914!4d-81.4873054"
            target="_blank">
            3435 Fortuna Dr, Akron, OH 44312
        </a>
        <br>
        Our Phone | (888) 352-1119
    </p>

</footer>