<div class="parallax">
    <div class='hero-text'>
        <div>
            <h1>Fortisure<span>IT</span></h1>
            <h3>Data Development and Analytics Services</h3>
            <p>
                Providing Data and Analytics services of the highest quality, at the best price.
            </p>
        </div>
    </div>
</div>