<div class="parallax">
    <div class='hero-text'>
        <div>
            <h1 class='hero-h1'>Fortisure<span>IT</span></h1>
            <h3>Providing Data and Analytics services of the highest quality, at the best price.</h3>
        </div>
    </div>
</div>