<div class='nav-wrap'>
    <div class='nav'>
        <a href='/' class="logo"><img src="img/FortisureIT-logo.svg" class='logo'></img></a>
        <a href="/#contact" class='contact-us-btn'>
            <button class="btn btn-1 btn-1b">
                Contact
            </button>
        </a>
        <div class="menu">
            <label for="hamburger">&#9776;</label>
            <input type="checkbox" id="hamburger" />
            <ul>
                <li><a href='/about' class='about'>About</a></li>
                <li class="li-2"><a href='/careers' class='about'>Career Development</a></li>
                <li><a href='/services' class='about'>Services</a></li>
            </ul>
        </div>

    </div>
</div>