{{>nav}}
<div class="about-grid">
    <div class="career-header">
        <div class="parallax-2">
            <div class='hero-text-2'>
                <div>
                    <h1>Our Story</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="story">
        <h2>History</h2>
        <p class="a">
            <span>Mani Subramanian</span></br>founded Fortisure Ventures LLC in San Francisco, California on January 5th, 2011. He runs
            this
            company along with his two co-founders and daughters Priyal and Meghna Subramanian. The name Fortisure
            represents
            our commitment to clients, employees and the community. Over the years they have participated in helping
            start-ups and
            supporting meaningful causes.
        </p>
        <p class='b'>
            <span>Fortisure</span></br> consist of two words, "fortitude" and "assurance" these words encompass our values as a company.
            Fortitude
            is derived from the Latin word, "fortis", meaning strength, courage, and bravery in most challenging times.
            To
            facilitate this confidence, one needs the comfort of "assurance" and peace of mind looking toward the
            future.
            Fortisure was created based on these ideals and the notion that we would provide companies, partners and
            their
            employees with the strength, courage, bravery and the support they need for the future.
        </p>
        <p class="c">
            <span>Today</span></br> FortisureIT reflects that same commitment. This time, it is a commitment to our clients nationally,
            to our
            employees, and to the Akron-Canton community.
        </p>
    </div>
    <div class="founder">
        <h2>Our Founder</h2>
        <p class="b">
            <span>With 40 years</span></br>of management experience in the global information technology industry, Mani started his
            entrepreneurial journey in 1993 when, as a new immigrant with a capital of $150,000, he founded IT
            Solutions.
            Subsequently re-branded as Caritor in 2003, the company grew to over 3500 employees over four continents
            with
            an
            annual revenue of $150 million in 2006. In 2007, with funding of $1 billion from Citibank, Mani engineered
            the
            buy-out of Keane, a Boston-based company over six times Caritor's size in terms of revenue. Mani presided as
            Executive Chairman of Keane until its acquisition by the Japanese conglomerate NTT Data on December 30,
            2010.
        </p >
        <p class="c">
            <span>Mani also</span></br> co-founded Influence Software, a business intelligence company, jointly with Marv Mouchawar in
            1996
            which
            was sold to Informatica, formerly listed in Nasdaq as INFA, in December 1999.
        </p>
        <p class="a">
            <span>In 2011,</span></br> Mani and his family have founded Fortisure Ventures to support promising opportunities in
            technology
            business. He and his family established Fortisure Foundation in 2011 to serve communities and causes
            important
            to
            their interests.
        </p>
    </div>
    {{> footer}}
</div>