{{>nav}}
<div class="career-grid">
    <div class="career-header">
        <div class="parallax-2">
            <div class='hero-text-2'>
                <div>
                    <h1><span>IT</span> all starts here</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="career-video">
        <div class='video-header'>
            <div>
                <h2>Development Program</h2>
                <p>
                    The FortisureIT Development program is a highly technical educational program that is designed to
                    give students the best opportunity to succeed in the IT field. Our mission is to scale up our team
                    while also offering students of our local area a great career opportunity.
                </p>
            </div>
        </div>
        <div class="video">
            <iframe width='560' height="315" src="https://www.youtube.com/embed/m_YMxye5mEA" frameborder="0" gesture='media' allow="encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="career-info">
        <div class="it-essentials">
            <div class='it-words'>
                <h3>IT Essentials</h3>
                <p>
                    IT Essentials is the first class that is offered to all students going through our development
                    program.
                    The purpose of this course is to give students fundamental knowledge of a variety of different IT
                    skills.
                </p>
                <h4>No prerequisite knowledge required!</h4>
                <p>
                    Upon completion of IT Essentials, students are awarded a certificate of achievement, letter of
                    recommendation, and students accepted to our internal training will prepare to take Data Science and
                    Development.
                </p>
            </div>
            <img class='red-arrow' src="img/red-arrow.svg"></img>
            <div class='it-list'>
                <h4>3hrs per day</h4>
                <h4>Mon - Thurs, June - July</h4>
                <h4>Covering the following material</h4>
                <p>Computer Hardware</p>
                <p>Software</p>
                <p>Networking</p>
                <p>Cybersecurity</p>
                <p>Server Management</p>
                <p>Database</p>
                <p>Programming</p>
            </div>
        </div>
        <div class="space"></div>
        <div class="data-science">
            <ul class="data-list">
                <h4>6hrs per day</h4>
                <h4>Mon - Thurs, August - December</h4>
                <h4>Covering the following material</h4>
                <p>SQL Server Setup & Administration</p>
                <p>Database Design</p>
                <p>Defining and Manipulating Data</p>
                <p>Statistical Analysis</p>
                <p>Data Science</p>
                <p>Web & Application Design & Development</p>
                <p>Web Server Administration</p>
            </ul>
            <img class='red-arrow-2' src="img/red-arrow.svg"></img>
            <div class="data-words">
                <h3>Data Science and Development</h3>
                <p>
                    Data Science and Development is the title for our second level internal training program. In this
                    vigorous course, students will learn everything they would need to know to work with database
                    management, data science, and full-stack web development.
                </p>
                <h4>Everything you would need to know!</h4>
                <p>
                    After completing Data Science and Development, students are awarded a degree for their success in
                    the
                    class. Successful completion of this program will also earn students an interview with our hiring
                    team
                    for a potential offer to start your career with FortisureIT.
                </p>
            </div>
        </div>
        <div class="career-more">
            <div>
                <h4><a href="img/training-sheet.pdf" target="_blank">Informational PDF</a></h4>
                <button class="get-started">
                    <a href='/#contact'>Get Started!</a>
                </button>

            </div>

        </div>
    </div>
    {{> footer}}
</div>