{{> nav}}
<div class='modal'>
    <div class="modal-box">
        <h4>Your Submission Has Failed</h4>
        <p>Please try again</p>
        <a class="ok" href="/#contact"><button>OK</button></a>
    </div>
    
</div>
<div class="success-contact">
    {{> contact}}
</div>


{{> footer}}