{{> nav}}
<div class="grid">
  <main>
    {{> hero-img}}
  </main>
  <section>

    <div class="value-1">

      <h2>
        The work we put out, is the highest quality.
      </h2>
      <p>
        We will always
        seek to exceed expectations. While profit
        making is essential to
        any business, for us it
        will never be at the
        expense of a customer
        or an employee.
      </p>
    </div>

    {{!-- INFO BLIPS/BLURBS/SNIPPETS --------------------------------- --}}
    <h4 class="tb-1">Willing to scale and support to meet the needs of your business</h4>
    <img class="icon-1" src="img/icon-1.svg">
    <h4 class="tb-2">Giving students the best opportunity to succeed in the IT Field.</h4>
    <img class="icon-2" src="img/icon-2.svg">
    <h4 class="tb-3">Data Driven Solutions Meets Front-End Applications</h4>
    <img class="icon-3" src="img/icon-3.svg">

    {{!-- CERTIFICATIONS ---------------------------------------------------- --}}
    <div class='certifications'>
      <img class='mta' src="img/mcsa.png">
      <div>
        <h2>MCSA Certifications</h2>
        <h4>Microsoft Certified Solutions Associate</h4>
        <p>All data resources you will work with have met our minimum requirement of passing the MCSA certification process. Our employees have been qualified by passing stringent exams and proving their skills through Microsoft.</p>
        <a href="https://www.microsoft.com/en-us/learning/mcsa-certification.aspx" target="_blank">Learn
          More...</a>
      </div>
    </div>

    <div class='certifications-2'>
      <img class='mta-2' src="img/mta.png">
      <div>
        <h2>MTA Certifications</h2>
        <h4>Microsoft Trained Associates</h4>
        <p>All of our employees have completed this level of the strict Microsoft Certification process.</p>
        <a href="https://www.microsoft.com/en-us/learning/mta-certification.aspx" target="_blank">Learn More...</a>
      </div>
    </div>

    {{!-- VALUE 2 ----------------------------------------------------------------- --}}
    <div class="value-2">
      <h2>
        Our reputation is critical.
      </h2>
      <p>
        Our clients' interests will
        always come first-we firmly
        believe that if we serve our
        customers well, our own
        success will follow.
      </p>
    </div>

    {{!-- MISSION AND VISION --------------------------------------------- --}}
    <div class='mission-subgrid'>
      <div class='mission'>
        <h2>What we work on every day</h2>
        <p>
          Offering exceptional technical services at highly-competitive prices 
          by staffing our organization through our signature career development program.
        </p>
      </div>
      <img class="tech-students" src="/img/shared-work.png">
    </div>
    <div class='vision-subgrid'>
      <img class="tech-training" src="/img/data-points.png">
      <div class="vision">
        <h2>What we want for our company</h2>
        <p>
          To build a nationally respected data analytics organization that utilizes the latest technologies to add great value to our customers.
        </p>
      </div>
    </div>

    {{!-- VALUE 3 ------------------------------------------------------- --}}
    <div class="value-3">
      <h2>
        We take pride in developing our
        people.
      </h2>
      <p>
        Establishing a strong work ethic, commitment
        to excellence, and amazing interpersonal skills is what we do best.
      </p>
    </div>

    {{!-- TRAINING SECTION ------------------------------------------------- --}}
    <div class="training">
      <img class='graduates' src="img/culture-add.png">
      <div class="training-head">
        <h1>Career Building Culture</h1>
      </div>
      <div class='training-info'>
        <p>
          At FortisureIT we take pride in giving our people long lasting careers and a culture of lifelong learning.
        </p>
        
        <h3 class="learn-a">Learn about how we develop our people</h3>
        <a class='a-button' href='/careers'><img src='img/learn-arrow.svg'></a>
        <h3 class="learn-b">Learn about where we come from</h3>
        <a class='b-button' href='/about'><img src='img/learn-arrow.svg'></a>
      </div>
    </div>
    {{> contact}}
  </section>
  {{> footer}}
</div>