{{>nav}}
<div class="leadershipTeam-grid">
    <div class="sec1-container">
        <div class="greetings-title">
            <h1>Meet<br>Our Leadership Team</h1>
        </div>
    </div>
    <div class="sec2-container">
        <div class="leadershipTeam-top-pillar">
            <div class='leadershipTeam-top-nameNTitle'>
                <h1>Mani Subramanian</h1>
                <h4>Founder and Chief Executive Officer</h4>
            </div>
            <img class='red-arrow' src="img/red-arrow.svg"></img>
            <div class='leadershipTeam-top-description'>
                <p>
                    Mani founded FortisureIT in January 2018 but his vision for the company dates back to 2011-12 when
                    his
                    passion to create
                    IT services jobs locally in the US brought him to the Midwest. He used his 40+ years of leadership
                    experience in Global
                    IT services to lay the foundation for a company that could create job opportunities in our community
                    and
                    also be
                    recognized globally. It took over 5 years of many visits to Akron/Canton, OH and innumerable
                    deliberations on the ideal
                    execution strategy for the business concept to ultimately take shape. Finally when he met Scott
                    Arnold
                    in Akron, OH
                    through a mutual acquaintance in May 2017, he was convinced he had the right person to work with him
                    to
                    build the IT
                    services company that he had dreamt of. That decided, he brought Scott onboard part-time in January
                    2018
                    to implement
                    his plan to realize his vision over a three year time frame. Mani worked with Scott to first build
                    the
                    infrastructure
                    required, secondly got him to design a Technical Career Development Program that could train newly
                    hired
                    employees from
                    high school and colleges from 2019, thirdly start building a team and lastly have Scott come on
                    board
                    full time as the
                    CAO of the company in June 2020. FortisureIT is now positioned to become over time a reputed
                    Business
                    Analytics
                    organization which could provide valuable insights in business decision making to companies in many
                    industries.
                </p>
            </div>
        </div>
        <div class="leadershipTeam-top-pillar">
            <div class='leadershipTeam-top-nameNTitle'>
                <h1>Scott Arnold</h1>
                <h4>Chief Analytics Officer</h4>
            </div>
            <img class='red-arrow' src="img/red-arrow.svg"></img>
            <div class='leadershipTeam-top-description'>
                <p>
                    Scott was born and raised in Akron, Ohio and developed a love for technology and solving
                    problems at
                    a young age. He
                    attended a Career-Technical IT program during high school at Portage Lakes Career Center
                    which
                    led
                    him to starting a
                    career in the IT field. Scott went on to earn a B.S. in Information Systems Management at
                    the
                    University of Akron and an
                    MBA at Malone University. He also received a Career-Technical Teacher Education certificate
                    from
                    Kent State University.<br><br>
                    Scott has a diverse background working over 15 years in many areas of Information Technology
                    including Technical
                    Support, Networking, Business Intelligence, Web Application Programming, Data Modeling, Data
                    Analysis/Reporting, IT
                    Strategy/Planning, IT Management and Instructing. Scott joined FortisureIT initially as an
                    Advisory
                    Consultant to create
                    the initial training program along with facilitating the steps necessary for the company to
                    begin
                    operations. He joined
                    full-time in June 2020 and is tasked with leading the organization to provide exceptional
                    technical
                    services and
                    products to create value for clients.
                </p>
            </div>
        </div>
        <div class="leadershipTeam-top-pillar">
            <div class='leadershipTeam-top-nameNTitle'>
                <h1>Rob Kozak</h1>
                <h4>Solutions Architect</h4>
            </div>
            <img class='red-arrow' src="img/red-arrow.svg"></img>
            <div class='leadershipTeam-top-description'>
                <p>
                    Rob was born and raised in Valley View, OH and came to FortisureIT from MRI Software in which he was
                    a
                    Solutions
                    Consultant. He brings a strong background in database knowledge along with working with end users to
                    develop
                    technical
                    solutions. He earned a B.S. in Digital Sciences with a minor in Computer Science from Kent State
                    University. Rob joined FortisureIT
                    in
                    July
                    2019 and is
                    tasked with architecting technical solutions that exceed client expectations along with coordinating
                    and
                    mentoring
                    technical resources to ensure successful project completion.
                </p>
            </div>
        </div>
        <div class="leadershipTeam-top-pillar">
            <div class='leadershipTeam-top-nameNTitle'>
                <h1>Brandon Taylor</h1>
                <h4>Resource Developer</h4>
            </div>
            <img class='red-arrow' src="img/red-arrow.svg"></img>
            <div class='leadershipTeam-top-description'>
                <p>
                    Brandon was born and raised in Akron, OH and came to FortisureIT from a Career-Technical IT program
                    in
                    which
                    he was a
                    student of Scott Arnold. He is currently pursuing a B.S. in Computer Information Systems at the
                    University
                    of Akron.
                    Brandon joined FortisureIT in July 2018 and is tasked with ensuring the highest quality of content
                    and
                    delivery of our
                    career development program along with finding the best local talent to join our organization.
                </p>
            </div>
        </div>
    </div>
    {{> footer}}
</div>