{{>nav}}
<div class="services-container">
    <div class="services-title">
        <img src='https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555301/fortisure-it-site/data-dev_eg9psp.jpg' alt='servers'>
        <img src='https://res.cloudinary.com/dxleu7n2q/image/upload/v1582558569/fortisure-it-site/web-design_vligji.jpg' alt='design notebook'>
        <img src='https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555495/fortisure-it-site/stats-anal_bgknaz.jpg' alt='line graph'>
    </div>
    <div class="s-sec1">
        <div class="s-sec1-pillars">
            <div class="pillar a">
                <div>
                    <h2>Data Management</h2>
                    
                    <p>
                        Providing services including database design, administration, warehousing, scrubbing and migration.
                    </p>
                </div>
            </div>
            <div class="pillar b">
                <div>
                    <h2>Web Development</h2>
                    
                    <p>
                        Providing services including custom application development, website design and system integration.
                    </p>
                </div>
            </div>
            <div class="pillar c">
                <div>
                    <h2>Data Analytics</h2>
                    
                    <p>
                        Providing services including custom dashboards with key performance metrics, predictive modeling, statistical analysis and machine learning.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="s-space"></div>
    <div class="s-sec2">
        <div class="s-sec2-services">
            <h3 class="work-title">Some of the many technologies we work with every day!</h3>
            <div class="s-sec2-icons">
                <img class='many-techs' src='https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555454/fortisure-it-site/many-techs_wmqgwy.svg' alt='different technologies'>
            </div>
            <h3 class="service-title">A few of the Services we provide!</h3>
            <div class="s-sec2-list">
                <div class="service a">
                    <img src="https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555222/fortisure-it-site/015-database-migration_lsawlx.svg" alt='2 databases'>
                    <h4>Data Migration</h4>
                </div>
                <div class="service b">
                    <img src="https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555222/fortisure-it-site/019-server-database-optimization_cmjiba.svg" alt='database with plus'>
                    <h4>Database Optimization</h4>
                </div>
                <div class="service c">
                    <img src="https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555224/fortisure-it-site/034-user-admin-app_czbwxj.svg" alt='person 4 screens'>
                    <h4>Frontend Admin Applications</h4>
                </div>
                <div class="service d">
                    <img src="https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555222/fortisure-it-site/048-binary-data-anal_vugrqc.svg" alt='screen with binary'>
                    <h4>Data Analysis</h4>
                </div>
                <div class="service e">
                    <img src="https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555222/fortisure-it-site/006-sql-database-admin_uisenq.svg" alt='screen with sql'>
                    <h4>Database Administration</h4>
                </div>
                <div class="service f">
                    <img src="https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555222/fortisure-it-site/008-dashboard-web-applications_ke2udf.svg" alt='screen with pie graph'>
                    <h4>Web Applications</h4>
                </div>
                <div class="service g">
                    <img src="https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555222/fortisure-it-site/004-window-data-visual_eta83v.svg" alt='screen with bar graph'>
                    <h4>Data Visualization</h4>
                </div>
                <div class="service h">
                    <img src="https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555525/fortisure-it-site/XMLID_611_predictive-model_u5jvny.svg" alt='cube'>
                    <h4>Predictive Modeling</h4>
                </div>
                <div class="service i" >
                    <img src="https://res.cloudinary.com/dxleu7n2q/image/upload/v1582555224/fortisure-it-site/029-settings_sjucam.svg" alt='screen with cog'>
                    <h4>And much more... </h4>
                </div>
            </div>
            <div class='space'></div>
        </div>
    </div>
    {{> footer}}
</div>