{{> nav}}
<div class='modal'>
    <div class="modal-box">
        <h4>Success!</h4>
        <p>Your Contact Info has been Submitted!</p>
        <a class="ok" href="/"><button>OK</button></a>
    </div>
    
</div>
<div class="success-contact">
    {{> contact}}
</div>


{{> footer}}
