body {
  background-color: #eeeeee;
}
.leadershipTeam-grid {
  grid-template-columns: auto;
  grid-template-rows: auto auto 100px;
  height: auto;
  width: auto;
}
/* SECTION 1 */
.sec1-container {
  width: 100%;
  margin-top: 2%;
}
.greetings-title {
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 44px;
}
/* SECTION 1 */

/* SECTION 2 */
/* OUR TEAM - TOP */
.sec2-container {
  display: grid;
  grid-template-columns: 3% 1fr 1fr 1fr 1fr 3%;
  grid-template-rows: 1750px;
  height: 100%;
  width: 100%;
  column-gap: 1em;
  row-gap: 1em;
  margin-bottom: 4%;
}

.leadershipTeam-top-pillar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 28% 3% auto 3%;
  height: 100%;
  grid-column: 2;
}
.leadershipTeam-top-pillar:nth-child(2) {
  grid-column: 3;
}
.leadershipTeam-top-pillar:nth-child(3) {
  grid-column: 4;
}
.leadershipTeam-top-pillar:nth-child(4) {
  grid-column: 5;
}

.leadershipTeam-top-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 370px 100px;
  background-color: #3b3a6d;
  color: #fff;
  padding: 0.5em;
  padding-top: 1em;
}
.leadershipTeam-top-grid h1 {
  text-align: center;
  color: #fff;
  margin: 0%;
  font-size: 32px;
}
.leadershipTeam-top-grid h4 {
  color: #fff;
  font-style: italic;
  text-align: center;
  font-weight: 400;
  margin: 0%;
}

.leadershipTeam-top-image {
  display: inline-block;
  grid-column: 1;
  grid-row: 1;
}
.leadershipTeam-top-image img {
  -webkit-transform: scale(1); /* Saf3.1+, Chrome */
  -moz-transform: scale(1); /* FF3.5+ */
  -ms-transform: scale(1); /* IE9 */
  -o-transform: scale(1); /* Opera 10.5+ */
  transform: scale(1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.leadershipTeam-top-name {
  grid-column: 1;
  grid-row: 2;
  padding-top: 10px;
}
.red-arrow {
  grid-row: 2;
  width: 100%;
  max-width: 25px;
  align-self: center;
  justify-self: center;
}
.red-arrow {
  transform: rotate(90deg);
}

.leadershipTeam-top-description {
  grid-row: 3;
  background-color: #fff;
  padding: 1.5em;
}
.leadershipTeam-top-description p {
  margin: 0px;
  margin: 0.5em;
  font-size: 0.9em;
  text-indent: 40px;
}
/* OUR TEAM - TOP */

/* SECTION 2 */
@media (max-width: 1530px) {
  .sec2-container {
    grid-template-columns: auto 500px 500px auto;
    grid-template-rows: auto auto;
    column-gap: 1em;
    row-gap: 5em;
  }
  .leadershipTeam-top-grid {
    grid-template-rows: auto 100px;
  }
  .leadershipTeam-top-pillar {
    grid-template-rows: 640px 60px auto;
  }
  .leadershipTeam-top-pillar:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  .leadershipTeam-top-pillar:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
  }
  .leadershipTeam-top-pillar:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
  .leadershipTeam-top-pillar:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
  }
  .leadershipTeam-top-description {
    font-size: 1.2em;
  }
}
@media (max-width: 1080px) {
  .sec2-container {
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto auto auto auto;
  }
  .greetings-title {
    font-size: 34px;
  }
  .leadershipTeam-top-pillar {
    grid-template-rows: 670px 60px auto;
  }
  .leadershipTeam-top-pillar:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  .leadershipTeam-top-pillar:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }
  .leadershipTeam-top-pillar:nth-child(3) {
    grid-column: 2;
    grid-row: 3;
  }
  .leadershipTeam-top-pillar:nth-child(4) {
    grid-column: 2;
    grid-row: 4;
  }
}

@media (max-width: 680px) {
  .sec2-container {
    display: grid;
    grid-template-columns: 1% 1fr 1%;
    grid-template-rows: auto auto auto auto;
  }
  .leadershipTeam-top-pillar {
    grid-template-rows: 150px 7% auto 3%;
  }
  .leadershipTeam-top-grid {
    grid-template-rows: auto 150px;
  }
}
@media (max-width: 414px) {
  .sec2-container {
    display: grid;
    grid-template-columns: 1% 1fr 1%;
    grid-template-rows: auto auto auto auto;
  }
  .greetings-title {
    margin-top: 16%;
    margin-bottom: 8%;
    font-size: 16px;
  }
}

@media (max-width: 414px) {
  .leadershipTeam-top-pillar {
    grid-template-rows: 200px 60px auto;
  }
}
footer {
  grid-row: 5;
  grid-column: 1 / 4;
  height: 100%;
  padding: 10px;
}
